.bill-added-screen{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.header-bar{
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6%;
  padding-top: 8%;
}

.group-data-part{
  padding-top: 10%;
  height: 22%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.selected-group-name{
  font-size: 16px;
}

.selected-data-part-bill-screen{
  height: 48%;
  width: 100%;
}

.selected-screen-footer-2{
  height: 7%;
  width: 90%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color)) !important;
  margin-right: 5%;
  border-radius: 20px;
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.selected-screen-footer-3{
  height: 11%;
  width: 90%;
  display: flex;
  align-items: center;
  margin-right: 5%;
  border-radius: 20px;
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
  justify-content: space-between;
}
.selected-footer-group-coin{
  border-radius: 20px;
  width: 65%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color)) !important;
}

.selected-footer-group-pay{
  border-radius: 20px;
  width: 28%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(-210deg, var(--pay-left), var(--pay-middle), var(--pay-end)) !important;
}

.selected-screen-straight-line{
  border: 1px solid rgba(82,112,232,0.20);
  width: 88%;
  border-bottom: none;
}

.footer-3-text{
  font-size: 23px;
  color: white;
  z-index: 2;
}

.right-align-camera{
  margin-left: 85%;
}