.dashboard-screen{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.header-bar{
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6%;
  padding-top: 8%;
}

.email-with-image{
  width: 70%;
  display: flex;
  align-items: center;
}

.dashboard-email-value{
  padding-left: 2%;
}

.add-group-text{
  font-size: 16px;
  color: white;
  padding-bottom: 5%;
  padding-top: 2%;
  z-index: 2;
}

.search-input-field{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 5%;
  top: 0;
  left: 0;
  display: none;
}

.data-part{
  height: 65%;
  width: 100%;
}

.no-data-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  display: none !important;
}

.caught-text{
  font-size: 16px;
  position: relative;
  top: -5%;
}

.add-group-page{
  height: 26%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end; 
  align-items: center;
}

/* modal css */
.modal-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.add-group-modal-header{
  text-align: center;
  font-size: 16px;
}

.straight-line{
  border: 1px solid black;
  width: 100%;
  border-bottom: none;
}

.add-modal-sub-content{
  padding: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-button-mine{
  margin-top: 1.5rem;
  width: 50% !important;
  font-size: 16px;
  text-transform: none !important;
  border-radius: 50px !important;
  background-image: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color)) !important;
}


/* data filled part */
.data-container{
  height: 100%;
  width: 100%;
  padding-top: 10%;
  overflow: scroll;
}

.group-component{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.group-description{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group-name{
  font-size: 18px;
}

.number-of-members{
  font-size: 16px;
}

.group-creation-time{
  width: 22%;
  font-size: 14px;
}

.image-class-active{
  width: 28%;
}

.image-class-inactive{
  width: 28%;
  opacity: 0.5;
}

.group-straight-line{
  border: 1px solid rgba(82,112,232,0.20);
  width: 40%;
  border-bottom: none;
}
