.first-screen-container{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width:100%;
}
.main-logo{
  height: 100%;
  width: 100%;
}

.logo-container{
  position: absolute;
  top: 0%;
  height: 50%; 
  width: 100%;
}

.logo-gif{
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: url("../assets/gif/logo1.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
}

.logo-image{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 35%;
  width: 35%;
  background-image: url("../assets/images/logoImage.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center; 
}

.logo-text{
  position: absolute;
  bottom: 20%;
  text-align: center;
  width: 100%;
  font-family: 'Normal Font';
  font-style: italic;
  font-weight: bold;
  font-size: 15px;
}

.lower-half{
  position: absolute;
  padding-left: 10%;
  padding-right:10%;
  top: 55%;
  height: 40%;
  width: 100%;
}

.start-container{
  display: flex;
  align-items: center;
  flex-direction: column;
}

.start-now-button{
  border-radius:50px !important;
  text-transform: none !important;
  background-image: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color)) !important;
}

.or-conatiner{
  padding-top:5px;
  padding-bottom: 5px;
}

.facebook-button-container{
  text-transform: none !important;
  background-color: #3b5998 !important;
}

.footer-text-container{
  position: fixed;
  width: 100%;
  bottom: 2%;
  text-align: center;
}

.facebook-icon{
  padding-right: 10px;
}

.mail-icon{
  font-size: 22px !important;
  top:0.8rem !important;
}