.flight-details-screen{
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 100%;
  justify-content: space-evenly;
  background-color: rgb(82, 112, 232,0.1);
  display: none;
}

.my-flight-card{
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  display: flex;
  align-items: center;
}

.fixed-top-bar{
  position: absolute;
  width: 100%;
  top: 10%;
  height: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-left: 4%;
  padding-right: 4%;
}

.flight-row-container{
  position: absolute;
  top: 15%;
  left: 0%;
  height: 65%;
  width: 100%;
  justify-content: space-evenly;
  overflow: scroll;
}

.flight-text-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.flight-card-image{
  width:20%;
}

.flight-text-container{
  width: 80%;
}

.top-header-card{
  position: absolute;
  top: 0%;
  height: 10%;
  padding-left: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.email-name{
  padding-left: 15px;
}

.user-email-name{
  padding-left: 15px;
}

.flight-card-image{
  display: flex;
  align-content: center;
  justify-content: center;
}