:root {
  --main-my-theme-color: rgb(82, 112, 232);
  --gradient-first-color:#5270e8;
  --gradient-second-color:#52b3f1; 
  --first-screen-text-color:#5371e8;
  --dashboard-screen-text-color:black;
  --pay-left: #A9D18E;
  --pay-middle: #00B050;
  --pay-end: #385723;
}

@font-face {
  font-family: "Normal Font";
  font-style: normal;
  font-display: auto;
  src: local("Normal Font"),
    url("../fonts/AvenirRoman.otf") format("opentype");
}

.body{
  background-color: white;
  font-family: "Normal Font";
}

#userEmail{
  margin-left: 0% !important;
  padding-left:40px !important;
  color: var(--first-screen-text-color);
}

#userEmail{
  margin-left: 0% !important;
  padding-left:40px !important;
  color: var(--dashboard-screen-text-color);
}

#vpaAddress{
  margin-left: 0% !important;
  padding-left:40px !important;
  color: var(--dashboard-screen-text-color);
}

#userAmount{
  margin-left: 0% !important;
  padding-left:40px !important;
  color: var(--dashboard-screen-text-color);
}

#userOTP{
  margin-left: 0% !important;
  padding-left:40px !important;
  color: var(--dashboard-screen-text-color);
}

input[id="groupName"]{
  box-shadow: none !important;
  border: none;
  border-bottom: 2px solid var(--gradient-second-color) !important;
}

input[type="email"]{
  box-shadow: none !important;
  border: none !important;
  border-bottom: 2px solid var(--gradient-second-color) !important;
}

input[type="number"]{
  box-shadow: none !important;
  border: none !important;
  border-bottom: 2px solid var(--gradient-second-color) !important;
}


.common-bottom{
  position: fixed;
  bottom: 0;
  height: 27%;
  width: 150%;
  left: -30%;
  background-image: url('../assets/images/commonBottom.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.common-bottom-2{
  position: fixed;
  bottom: 0;
  height: 19%;
  width: 150%;
  left: -24%;
  background-image: url('../assets/images/commonBottom2.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.left-bottom{
  position: fixed;
  bottom: 0;
  height: 23%;
  width: 130%;
  left: -12%;
  background-image: url('../assets/images/leftBottom.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.right-bottom{
  position: fixed;
  bottom: 0;
  height: 28%;
  width: 150%;
  right: -20%;
  background-image: url('../assets/images/rightBottom.png');
  background-repeat: no-repeat;
  background-size: cover;
}


.mine-icon-color{
  color: black !important;
}
.add-icon-color{
  color: white !important;
}

.floating-button-mine{
  background-color: transparent !important;
  box-shadow: none !important;
  margin-left: 26%;
}

.floating-add-button{
  background-color: transparent !important;
  box-shadow: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.floating-button-footer{
  width: 36px !important;
  height: 36px !important;
  background-color: transparent !important;
  box-shadow: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border: 2px solid white !important;
}

.floating-button-footer-2{
  width: 26px !important;
  height: 26px !important;
  background-color: transparent !important;
  box-shadow: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border: 1px solid white !important;
}

.lower-fixed-part-dashboard-height{
  height: 23%;
}

.select-wrapper input.select-dropdown{
  text-align: center !important;
  border:none !important;
  background-color: #ccc !important;
  color: grey !important;
}


.carousel-slider{
  height: 200px !important;
}

.carousel .indicators{
  top: 50% !important;
}

.carousel .indicators .indicator-item{
  background-color: blue !important;
}

.carousel .indicators .indicator-item.active{
  background-color: grey !important;
}


.loader-screen{
  display: none;
  z-index: 100000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#addModal{
  max-height: 80% !important;
  height: 700px !important;
}