.landing-screen-container{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width:100%;
}

.top-container{
  position: absolute;
  top: 5%;
  height:30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../assets/images/logo-aero.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

.top-logo-text{
  position: absolute;
  top: 35%;
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.carousel-container{
  position: absolute;
  top: 55%;
  height: 20%;
  width: 100%;
}

.landing-screen-footer-1{
  position: absolute;
  top: 75%;
  height: 25%;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}

.my-card{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.text-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.fixed-otp-curve-container{
  overflow: hidden;
}

.selected-footer-group{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.add-group-text-footer{
  z-index: 1;
  color: white;
}

.text-headline{
  font-weight: bold;
  font-size: 14px;
}

.text-body{
  font-size: 10px;
}
  
.add-modal-sub-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-button-mine{
  margin-top: 1.5rem;
  width: 50% !important;
  font-size: 16px;
  text-transform: none !important;
  border-radius: 50px !important;
  background-image: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color)) !important;
}
