.selected-group-screen{
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.header-bar{
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6%;
  padding-top: 8%;
}

.group-data-part{
  padding-top: 10%;
  height: 22%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.selected-group-name{
  font-size: 16px;
}

.selected-data-part{
  height: 53%;
  width: 100%;
}

.selected-screen-footer-1{
  height: 14%;
  width: 90%;
  display: flex;
  align-items: center;
  background-image: linear-gradient(to right, var(--gradient-first-color), var(--gradient-second-color)) !important;
  margin-right: 5%;
  border-radius: 20px;
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.selected-footer-group{
  width: 33.33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.selected-screen-straight-line{
  border: 1px solid rgba(82,112,232,0.20);
  width: 88%;
  border-bottom: none;
}

.add-group-text-footer{
  font-size: 16px;
  color: white;
  z-index: 2;
}

.right-align-camera{
  margin-left: 85%;
}