.showtime-screen{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: none;
}

.my-craousel{
  position: relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  top: 0%;
}

.first-slider-screen{
  display: none;
  height: 100%;
  width: 100%;
}

.slider-upper-part{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  top: 0;
  height: 60%;
}

.slider-logo{
  width: 85%;
  font-weight: 600;
  text-align: center;
  padding-bottom: 7%;
  font-size: 20px;
}

.slider-text{
  font-size: 15px;
  width: 85%;
  text-align: center
}

.slider-lower-part{
  padding-top: 10%;
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: center;  
}

.triple-dot{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20%;
}

.dot-active{
  height: 12px;
  width: 12px;
  background-image: url('../assets/images/circle.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.dot-inactive{
  height: 7px;
  width: 7px;
  background-image: url('../assets/images/circle.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.slide-next-button{
  position: absolute;
  right: 26%;
  color:var(--main-my-theme-color);
  font-size: 18px;
}

/* second slider screen */


.second-slider-screen{
  display: none;
  height: 100%;
  width: 100%;
}

/* third slider screen */

.third-slider-screen{
  display: none;
  height: 100%;
  width: 100%;
}
